@model MercDevs_ej2.Models.Datosfichatecnica

<h1>Datos Ficha Tecnica</h1>

<a asp-action="GenerarPdf" asp-route-id="@Model.IdDatosFichaTecnica" class="btn btn-warning">Generar PDF</a>



<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Ficha Tecnica</th>
        </tr>
        <tr>
            <th class="border-end">ID Ficha: @Model.IdDatosFichaTecnica</th>
            <th class="border-end">Fecha Inicio: @(Model.FechaInicio?.ToString("dd/MM/yyyy"))</th>
            <th class="border-end">Fecha Finalizacion: @(Model.FechaFinalizacion?.ToString("dd/MM/yyyy"))</th>
        </tr>
    </thead>
</table>

<!-- Datos del Cliente -->
<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos del Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Nombre: @Model.RecepcionEquipo?.IdClienteNavigation.Nombre</th>
            <th class="border-end">Apellido: @Model.RecepcionEquipo?.IdClienteNavigation.Apellido</th>
            <th class="border-end">Celular: @Model.RecepcionEquipo?.IdClienteNavigation.Telefono</th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">Correo: @Model.RecepcionEquipo?.IdClienteNavigation.Correo</td>
            <td colspan="2" class="border-end">Dirección: @Model.RecepcionEquipo?.IdClienteNavigation.Direccion</td>
        </tr>
    </tbody>
</table>

<!-- Datos Recepción de Equipo -->
<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Recepción de Equipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Fecha: @Model.RecepcionEquipo?.Fecha</th>
            <th class="border-end">
                Tipo Pc: @{
                    string tipopc = Model.RecepcionEquipo?.TipoPc switch
                    {
                        0 => "Pc Torre",
                        1 => "Notebook",
                        2 => "All in one",
                        _ => ""
                    };
                    @tipopc
                }
            </th>
            <th class="border-end">Accesorios: @Model.RecepcionEquipo?.Accesorio</th>
        </tr>
        <tr>
            <th class="border-end">Marca Pc: @Model.RecepcionEquipo?.MarcaPc</th>
            <th class="border-end">Modelo Pc: @Model.RecepcionEquipo?.ModeloPc</th>
            <th class="border-end">Numero Serie: @Model.RecepcionEquipo?.Nserie</th>
        </tr>
        <tr>
            <th class="border-end">
                Capacidad RAM: @{
                    string capacidadram = Model.RecepcionEquipo?.CapacidadRam switch
                    {
                        0 => "4 GB",
                        1 => "6 GB",
                        2 => "8 GB",
                        3 => "12 GB",
                        4 => "OTRA",
                        _ => ""
                    };
                    @capacidadram
                }
            </th>
            <th class="border-end">
                Tipo GPU: @{
                    string tipogpu = Model.RecepcionEquipo?.TipoGpu switch
                    {
                        0 => "Chip integrado",
                        1 => "Tarjeta",
                        _ => ""
                    };
                    @tipogpu
                }
            </th>
            <th class="border-end">Graficos: @Model.RecepcionEquipo?.Grafico</th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">
                Tipo Almacenamiento: @{
                    string tipoalmacenamiento = Model.RecepcionEquipo?.TipoAlmacenamiento switch
                    {
                        0 => "HDD",
                        1 => "SSD SATA",
                        2 => "SSD M.2",
                        3 => "SSD NVM M.2",
                        _ => ""
                    };
                    @tipoalmacenamiento
                }
            </td>
            <td colspan="2" class="border-end">Capacidad Almacenamiento: @Model.RecepcionEquipo?.CapacidadAlmacenamiento</td>
        </tr>
    </tbody>
</table>

<!-- Datos Ficha Técnica -->
<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Ficha Tecnica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">
                S.O instalado: @{
                    string soinstalado = Model.Soinstalado switch
                    {
                        0 => "Windows 10",
                        1 => "Windows 11",
                        2 => "Linux",
                        _ => ""
                    };
                    @soinstalado
                }
            </th>
            <th class="border-end">
                Suite Office instalada: @{
                    string suiteofficeinstalada = Model.SuiteOfficeInstalada switch
                    {
                        0 => "Microsoft Office 2013",
                        1 => "Microsoft Office 2019",
                        2 => "Microsoft Office 365",
                        3 => "OpenOffice",
                        _ => ""
                    };
                    @suiteofficeinstalada
                }
            </th>
            <th class="border-end">
                Lector PDF instalado: @{
                    string lectorpdfinstalado = Model.LectorPdfinstalado switch
                    {
                        0 => "No Instalado",
                        1 => "Instalado",
                        2 => "No Aplica",
                        _ => ""
                    };
                    @lectorpdfinstalado
                }
            </th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">
                Navegador Web instalado: @{
                    string navegadorwebinstalado = Model.NavegadorWebInstalado switch
                    {
                        0 => "No Instalado",
                        1 => "Chrome",
                        2 => "Chrome y Firefox",
                        _ => ""
                    };
                    @navegadorwebinstalado
                }
            </td>
            <td colspan="2" class="border-end">
                Antivirus instalado: @{
                    string antivirusinstalado = Model.AntivirusInstalado switch
                    {
                        "0" => "No Instalado",
                        "1" => "Avast",
                        "2" => "Mcfee",
                        _ => ""
                    };
                    @antivirusinstalado
                }
            </td>
        </tr>
    </tbody>
</table>

<!-- Diagnóstico y Soluciones -->
<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Diagnostico y Soluciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
            {
                <th class="border-end">No hay diagnostico disponible</th>
            }
            else
            {
                foreach (var diagnostico in Model.Diagnosticosolucions)
                {
                    <th class="border-end">Diagnostico: @diagnostico.DescripcionDiagnostico</th>
                }
            }
        </tr>
        <tr>
            @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
            {
                <th class="border-end">No hay solucion disponible</th>
            }
            else
            {
                foreach (var diagnostico in Model.Diagnosticosolucions)
                {
                    <th class="border-end">Solucion: @diagnostico.DescripcionSolucion</th>
                }
            }
        </tr>
    </tbody>
</table>

<!-- Observaciones y Recomendaciones -->
<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Observaciones y Recomendaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">@Model.PobservacionesRecomendaciones</th>
        </tr>
    </tbody>
</table>
