@model MercDevs_ej2.Models.Datosfichatecnica

<h1>Datos Ficha Tecnica</h1>

<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Ficha Tecnica</th>
        </tr>
        <a asp-action="Descargaficha" class="btn btn-warning">Descargar Ficha Técnica en PDF</a>
        <button type="button" class="btn btn-warning">Ver Diagnostico</button></a>
        <tr>
            <th class="border-end">ID Ficha: @Model.IdDatosFichaTecnica</th>
            <th class="border-end">Fecha Inicio: @(Model.FechaInicio?.ToString("dd/MM/yyyy"))</th>
            <th class="border-end">Fecha Finalizacion: @(Model.FechaFinalizacion?.ToString("dd/MM/yyyy"))</th>
    </thead>
        </tr>
</table>

<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos del Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Nombre: @Model.RecepcionEquipo?.IdClienteNavigation.Nombre</t>
            <th class="border-end">Apellido: @Model.RecepcionEquipo?.IdClienteNavigation.Apellido</th>
            <th class="border-end">Celular: @Model.RecepcionEquipo?.IdClienteNavigation.Telefono</th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">Correo: @Model.RecepcionEquipo?.IdClienteNavigation.Correo</td>
            <td colspan="2" class="border-end">Dirección: @Model.RecepcionEquipo?.IdClienteNavigation.Direccion</td>
        </tr>
    </tbody>
</table>


<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Recepcion de Equipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Fecha: @Model.RecepcionEquipo?.Fecha</t>
            <th class="border-end">
                Tipo Pc:                 @{
                        string tipopc = "";
                        switch (Model.RecepcionEquipo.TipoPc)
                        {
                            case 0:
                                tipopc = "Pc Torre";
                                break;
                            case 1:
                                tipopc = "Notebook";
                                break;
                            case 2:
                                tipopc = "All in one";
                                break;
                        }
                        @tipopc
                    }
            </th>
            <th class="border-end">Accesorios: @Model.RecepcionEquipo?.Accesorio</th>
        </tr>
        <tr>
            <th class="border-end">MarcaPc: @Model.RecepcionEquipo?.MarcaPc</t>
            <th class="border-end">ModeloPc: @Model.RecepcionEquipo?.ModeloPc</th>
            <th class="border-end">Numero Serie: @Model.RecepcionEquipo?.Nserie</th>
        </tr>
        <tr>
            <th class="border-end">
                Capacidad RAM: @{
                    string capacidadram = "";
                    switch (Model.RecepcionEquipo.CapacidadRam)
                    {
                        case 0:
                            capacidadram = "4 GB";
                            break;
                        case 1:
                            capacidadram = "6 GB";
                            break;
                        case 2:
                            capacidadram = "8 GB";
                            break;
                        case 3:
                            capacidadram = "12 GB";
                            break;
                        case 4:
                            capacidadram = "OTRA";
                            break;
                    }
                    @capacidadram
                }</t>
            <th class="border-end">
                Tipo GPU: @{
                        string tipogpu = "";
                        switch (Model.RecepcionEquipo.TipoGpu)
                        {
                            case 0:
                                tipogpu = "Chip integrado";
                                break;
                            case 1:
                                tipogpu = "Tarjeta";
                                break;
                        }
                        @tipogpu
                    }
            </th>
            <th class="border-end">Graficos: @Model.RecepcionEquipo?.Grafico</th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">
                Tipo Almacenamiento: @{
                    string tipoalmacenamiento = "";
                    switch (Model.RecepcionEquipo.TipoAlmacenamiento)
                    {
                        case 0:
                            tipoalmacenamiento = "HDD";
                            break;
                        case 1:
                            tipoalmacenamiento = "SSD SATA";
                            break;
                        case 2:
                            tipoalmacenamiento = "SSD M.2";
                            break;
                        case 3:
                            tipoalmacenamiento = "SSD NVM M.2";
                            break;
                    }
                    @tipoalmacenamiento
                }
            </td>
            <td colspan="2" class="border-end">Capacidad Almacenamiento: @Model.RecepcionEquipo?.CapacidadAlmacenamiento</td>
        </tr>
    </tbody>
</table>


<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos Ficha Tecnica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">
                S.O instalado: @{
                    string soinstalado = "";
                    switch (Model.Soinstalado)
                    {
                        case 0:
                            soinstalado = "Windows 10";
                            break;
                        case 1:
                            soinstalado = "Windows 11";
                            break;
                        case 2:
                            soinstalado = "Linux";
                            break;
                    }
                    @soinstalado
                }
                </t>
            <th class="border-end">
                Suite oficce instalada: @{
                        string suiteofficeinstalada = "";
                        switch (Model.SuiteOfficeInstalada)
                        {
                            case 0:
                                suiteofficeinstalada = "Microsoft Office 2013";
                                break;
                            case 1:
                                suiteofficeinstalada = "Microsoft Office 2019";
                                break;
                            case 2:
                                suiteofficeinstalada = "Microsoft Office 365";
                                break;
                            case 3:
                                suiteofficeinstalada = "OpenOffice";
                                break;
                        }
                        @suiteofficeinstalada
                    }
            </th>
            <th class="border-end">
                Lector PDF instalado: @{
                        string lectorpdfinstalado = "";
                        switch (Model.LectorPdfinstalado)
                        {
                            case 0:
                                lectorpdfinstalado = "No Instalado";
                                break;
                            case 1:
                                lectorpdfinstalado = "Instalado";
                                break;
                            case 2:
                                lectorpdfinstalado = "No Aplica";
                                break;
                        }
                        @lectorpdfinstalado
                    }
            </th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">
                Navegador Web instalado: @{
                    string navegadorwebinstalado = "";
                    switch (Model.NavegadorWebInstalado)
                    {
                        case 0:
                            navegadorwebinstalado = "No Instalado";
                            break;
                        case 1:
                            navegadorwebinstalado = "Chrome";
                            break;
                        case 2:
                            navegadorwebinstalado = "Chrome y Firefox";
                            break;
                    }
                    @navegadorwebinstalado
                }
            </td>
            <td colspan="2" class="border-end">
                Antivirus instalado: @{
                    string antivirusinstalado = "";
                    switch (Model.AntivirusInstalado)
                    {
                        case "0":
                            antivirusinstalado = "No Instalado";
                            break;
                        case "1":
                            antivirusinstalado = "Avast";
                            break;
                        case "2":
                            antivirusinstalado = "Mcfee";
                            break;
                    }
                    @antivirusinstalado
                }
            </td>
        </tr>
    </tbody>
</table>


<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Diagnostico y Soluciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
                {
                <th class="border-end">No hay diagnostico disponible</th>
                }
                else
                {
                    foreach (var diagnostico in Model.Diagnosticosolucions)
                    {
                    <th class="border-end">Diagnostico: @diagnostico.DescripcionDiagnostico</th>
                    }
                }
        </tr>
        <tr>
            @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
            {
                <th class="border-end">No hay solucion disponible</th>
            }
            else
            {
                foreach (var diagnostico in Model.Diagnosticosolucions)
                {
                    <th class="border-end">Solucion: @diagnostico.DescripcionSolucion</th>
                }
            }
        </tr>
    </tbody>
 </table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Observaciones y recomendaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">@Model.PobservacionesRecomendaciones</th>
        </tr>
    </tbody>
</table>
