@model MercDevs_ej2.Models.Datosfichatecnica

@{
    ViewData["Title"] = "Ficha Técnica";
}

<h1 style="text-align:center">Ficha Tecnica</h1>

<div class="text-end">
    <p>ID Ficha: @Model.IdDatosFichaTecnica</p>
    <p>ID Recepcion: @Model.RecepcionEquipo.Id</p>
    <p>Fecha: @(Model.FechaInicio?.ToString("dd/MM/yyyy"))</p>
</div>

<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos del Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Nombre: @Model.RecepcionEquipo?.IdClienteNavigation.Nombre</t>
            <th class="border-end">Apellido: @Model.RecepcionEquipo?.IdClienteNavigation.Apellido</th>
            <th class="border-end">Celular: @Model.RecepcionEquipo?.IdClienteNavigation.Telefono</th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">Correo: @Model.RecepcionEquipo?.IdClienteNavigation.Correo</td>
            <td class="border-end">Dirección: @Model.RecepcionEquipo?.IdClienteNavigation.Direccion</td>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Observaciones del Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">N°</th>
            <th class="border-end">Descripcion</th>
            <th class="border-end">Check</th>
        </tr>
        <tr>
            <th class="border-end">1</th>
            <th class="border-end">@Model.PobservacionesRecomendaciones</th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">2</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">3</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="6">Datos del Hardware</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Tipo:</th>
            <th class="border-end" colspan="2">
                @{
                    string tipoEquipo = "";
                    switch (Model.RecepcionEquipo.TipoPc)
                    {
                        case 0:
                            tipoEquipo = "PC Torre";
                            break;
                        case 1:
                            tipoEquipo = "Notebook";
                            break;
                        case 2:
                            tipoEquipo = "All-In-One";
                            break;
                        default:
                            tipoEquipo = "Desconocido";
                            break;
                    }
                    @tipoEquipo
                }
            </th>
            <th class="border-end" colspan="2">Accesorios:</th>
            <th class="border-end">@Model.RecepcionEquipo.Accesorio</th>
        </tr>
        <tr>
            <th class="border-end" colspan="2">Marca: @Model.RecepcionEquipo.MarcaPc</th>
            <th class="border-end" colspan="2">Modelo: @Model.RecepcionEquipo.ModeloPc</th>
            <th class="border-end" colspan="6">S/N: @Model.RecepcionEquipo.Nserie</th>
        </tr>
        <tr>
            <th class="border-end">CPU:</th>
            <th class="border-end">Intel</th>
            <th class="border-end">AMD</th>
            <th class="border-end">Velocidad</th>
            <th class="border-end">Ram(GB):</th>
            <th class="border-end">
                @{
                    string memoriaRam = "";
                    switch (Model.RecepcionEquipo.CapacidadRam)
                    {
                        case 0:
                            memoriaRam = "4 GB";
                            break;
                        case 1:
                            memoriaRam = "6 GB";
                            break;
                        case 2:
                            memoriaRam = "8 GB";
                            break;
                        case 3:
                            memoriaRam = "16 GB";
                            break;
                        case 4:
                            memoriaRam = "Otro";
                            break;
                    }
                    @memoriaRam
                }
            </th>
        </tr>
        <tr>
            <th class="border-end">Almacenamiento:</th>
            <th class="border-end">
                @{
                    string almacenamiento = "";
                    switch (Model.RecepcionEquipo.TipoAlmacenamiento)
                    {
                        case 0:
                            almacenamiento = "HDD";
                            break;
                        case 1:
                            almacenamiento = "SDD Sata";
                            break;
                        case 2:
                            almacenamiento = "SDD M.2";
                            break;
                        case 3:
                            almacenamiento = "SSD NVM M.2";
                            break;
                    }
                    @almacenamiento
                }
            </th>
            <th class="border-end">Capacidad: @Model.RecepcionEquipo.CapacidadAlmacenamiento</th>
            <th class="border-end">GPU:</th>
            <th class="border-end">
                @{
                    string gpu = "";
                    switch (Model.RecepcionEquipo.TipoGpu)
                    {
                        case 0:
                            gpu = "Chip Integrado";
                            break;
                        case 1:
                            gpu = "Tarjeta";
                            break;
                        case 2:
                            gpu = "Otro";
                            break;
                    }
                    @gpu
                }
            </th>
            <th class="border-end">@Model.RecepcionEquipo.Grafico</th>
        </tr>
        <tr>
            <th class="border-end" colspan="3">P.Madre</th>
            <th class="border-end" colspan="3"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th class="border-end" colspan="5">Datos Software Inicial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Sistema Operativo</th>
            <th class="border-end" colspan="2">Windows: </th>
            <th class="border-end" colspan="2">Linux: </th>
        </tr>
        <tr>
            <th class="border-end">Software Instalado</th>
            <th class="border-end">M. Office</th>
            <th class="border-end">Navegador</th>
            <th class="border-end">Lector PDF</th>
            <th class="border-end">Compresor</th>
        </tr>
        <tr>
            <th class="border-end">Inconvenientes:</th>
            <th class="border-end" colspan="4"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th class="border-end" colspan="3">Datos de Software Final</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end" rowspan="5">software instalado:</th>
        </tr>
        <tr>
            <th class="border-end">S.O Instalado</th>
            <th>
                @{
                    string soinstalado = "";
                    switch (Model.Soinstalado)
                    {
                        case 0:
                            soinstalado = "Windows 10";
                            break;
                        case 1:
                            soinstalado = "Windows 11";
                            break;
                        case 2:
                            soinstalado = "Linux";
                            break;
                    }
                    @soinstalado
                }
            </th>
        </tr>
        <tr>
            <th class="border-end">Suitte Office Instalada</th>
            <th class="border-end">
                @{
                    string suiteofficeinstalada = "";
                    switch (Model.Soinstalado)
                    {
                        case 0:
                            suiteofficeinstalada = "Microsoft Office 2013";
                            break;
                        case 1:
                            suiteofficeinstalada = "Microsoft Office 2019";
                            break;
                        case 2:
                            suiteofficeinstalada = "Microsoft Office 365";
                            break;
                        case 3:
                            suiteofficeinstalada = "OpenOffice";
                            break;
                    }
                    @suiteofficeinstalada
                }
            </th>
        </tr>
        <tr>
            <th class="border-end">Programas Instalados</th>
            <th class="border-end">
                @{
                    string lectorpdfinstalado = "";
                    switch (Model.Soinstalado)
                    {
                        case 0:
                            lectorpdfinstalado = "No Instalado";
                            break;
                        case 1:
                            lectorpdfinstalado = "Instalado";
                            break;
                        case 2:
                            lectorpdfinstalado = "No Aplica";
                            break;
                    }
                    @lectorpdfinstalado
                }
            </th>
        </tr>
        <tr>
            <th class="border-end">Navegador</th>
            <th class="border-end">
                @{
                    string navegadorwebinstalado = "";
                    switch (Model.NavegadorWebInstalado)
                    {
                        case 0:
                            navegadorwebinstalado = "No Instalado";
                            break;
                        case 1:
                            navegadorwebinstalado = "Chrome";
                            break;
                        case 2:
                            navegadorwebinstalado = "Chrome y Firefox";
                            break;
                    }
                    @navegadorwebinstalado
                }
            </th>
        </tr>
        <tr>
            <th class="border-end">Antivirus Instalado</th>
            <th class="border-end" colspan="2">@Model.AntivirusInstalado</th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Diagnostico</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">N°</th>
            <th class="border-end">Descripcion</th>
            <th class="border-end">Tiempo</th>
        </tr>
        <tr>
            <th class="border-end">1</th>
            @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
            {
                <th class="border-end">No hay diagnostico disponible</th>
            }
            else
            {
                foreach (var diagnostico in Model.Diagnosticosolucions)
                {
                    <th class="border-end">@diagnostico.DescripcionDiagnostico</th>
                }
            }
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">2</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">3</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">4</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Soluciones y/o Intervenciones realizadas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">N°</th>
            <th class="border-end">Descripcion</th>
            <th class="border-end">Tiempo</th>
        </tr>
        <tr>
            <th class="border-end">1</th>
            @if (Model.Diagnosticosolucions == null || !Model.Diagnosticosolucions.Any())
            {
                <th class="border-end">No hay solucion disponible</th>
            }
            else
            {
                foreach (var diagnostico in Model.Diagnosticosolucions)
                {
                    <th class="border-end">@diagnostico.DescripcionSolucion</th>
                }
            }
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">2</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">3</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">4</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">5</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
        <tr>
            <th class="border-end">6</th>
            <th class="border-end"></th>
            <th class="border-end"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped border border-light-subtle border border-3">
    <thead style="text-align:center">
        <tr>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end"></th>
        </tr>
    </tbody>
</table>

<a asp-action="Edit" asp-route-id="@Model.IdDatosFichaTecnica"><button type="button" class="btn btn-primary">Editar</button></a>
<button class="btn btn-secondary" onclick="window.history.back();">Volver a la lista</button>