@model IEnumerable<MercDevs_ej2.Models.Datosfichatecnica>

@{
    ViewData["Title"] = "Index";
}

<h1>Datos Ficha Tecnica</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Crear Ficha Tecnica</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Ficha
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PobservacionesRecomendaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soinstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteOfficeInstalada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectorPdfinstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NavegadorWebInstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntivirusInstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecepcionEquipo)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDatosFichaTecnica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PobservacionesRecomendaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soinstalado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuiteOfficeInstalada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectorPdfinstalado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NavegadorWebInstalado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntivirusInstalado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecepcionEquipo.Id)
                </td>
                <td>
                    <a asp-action="Diagnosticosolucionpordatosficha" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-warning">Ver Diagnostico</button></a>
                    <a asp-action="Edit" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                    <a asp-action="Details" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-warning">Detalles</button></a>
                    <a asp-action="Delete" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-danger">Borrar</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>